<% content_for :title, "New eligable days parts" %>

<h1>New eligable days parts</h1>

<%= render "form", eligable_days_part: @eligable_days_part %>

<br>

<div>
  <%= link_to "Back to eligable days parts", eligable_days_parts_index_path %>
</div>
